/* font-family: 'Lato', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */


:root{
  --theme-main: #07AB80;
  --theme-bright: #f5f5f5;
  --theme-secondary: #8F8E98;
}

body{
  background-color: gray;
  max-width: 2000px;
  height: 2000px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
}

p, small {
  font-family: 'Lato', sans-serif;
}

/* .navbar-border{ 
  border-bottom: 1px solid var(--theme-bright);
}
*/

.lorem-bar-size{
  font-size: 30px;
}

.bg-img-top{
  background-image: url(//placehold.it/2000x700.png);
}

.bg-div-text{
  width: 70%;
  border-left: 10px solid var(--theme-main);
}

.spill-card{
  position: absolute;
}
.spill-card i{
  color: var(--theme-main);
  font-size: 1.5em;
  margin-right: 15px;
}

.big-text-box h1{
  font-size: 3rem;
}
.big-text-box p{
  font-size: 1rem;
}
.big-text-box i{
  font-size: 1.5em;
  margin-right: 10px;
}

.theme-main{
  background-color: var(--theme-main);
}
.theme-bright{
  background-color: var(--theme-bright);
}
.theme-secondary{
  background-color: var(--theme-secondary);
}

.theme-txt-main{
  color: var(--theme-main);
}
.theme-txt-bright{
  color: var(--theme-bright);
}
.theme-txt-secondary{
  color: var(--theme-secondary);
}

@media screen and (max-width: 1100px){
  .hide-text{
    display: none;
  }
  .box-fit{
    position: relative;
    margin-bottom: 35px;
  }
  .big-text-box h1{
    font-size: 24px;
  }
  .big-text-box p{
    font-size: 16px;
  }
  .big-text-box i{
    font-size: 1em;
    margin-right: 10px;
  }
  
}